<div class="jumbotron">
    @{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title</h2>


    <p class=" about">You will absolutely find what you are looking for!</p>
    <p class=" about">Most suitable for all kinds of vehicles!</p>
    <p class=" about">We are not the only but definetly we are the BEST!!!</p>
</div>