<div class="jumbotron">
    @{
        ViewBag.Title = "Contact";
    }
    <h2>@ViewBag.Title</h2>


    <address>
        Högsätravägen 2<br />
        Lidingö, 18158<br />


        <abbr>Phone:</abbr>
        076 0999 054<br />

        <abbr>E-mail:</abbr>
        Jr.Group@gmail.com
    </address>
</div>