

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JR.Group</h1>
    <p class="lead">Your Vehicle IS Safe Here!</p>
    <p><a href="http://localhost:64544/ParkedVehicles" class="btn btn-primary btn-lg">GO To Garage &raquo;</a></p>
</div>
    

